/* Cor do fundo */
body {
  background-color: #7843cc;
}

/* Estilização do cabeçalho */
header {
  display: flex;
  justify-content: space-between; 
  align-items: center;
  margin-bottom: 20px;
  background-color: #fff;
}

/* Estilização dos menus */
nav ul {
  color: #12379b;
  font-family: verdana;
  font-size: 25px;
  list-style: none;
  display: flex;
}

nav ul li {
  margin: 0 20px;
}

/* Estilos para o banner */
#img_banner img{
  align-items: center;
  width: 100%;
  height: auto;
}

/* Estilização do logo */
header img {
  max-height: 100px;
}

/* Estilização das imagens */
#imagens {
  display: flex;
  flex-direction: row;

}

#imagens img {
  margin: 40px 20px 40px 20px;
  width: 85%;
  height: auto;
}

/* Estilização da página */
#conteudo {
  
  text-align: justify;
  background-color: #fff;
}

#video{
  margin-top: 20px;
  text-align: center;
}

/* Estilização do rodapé */
footer {
  text-align: center;
  background-color: #fff;
}
